.displayBook {
  margin-bottom: 60px;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.topContent {
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  width: 100%;
}
.allBooks {
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
  width: 100%;
}
.bookContainer {
  border: solid lightgray 1px;
  position: relative;
  border-radius: 8px;
  margin: 15px;
  height: 280px;
  width: 222px;
}
.bookSize {
  font-size: 12px;
  font-weight: normal;
}
.imageContainer {
  background-color: #F5F5F5;
  height: 50%;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.infoContainer {
  padding: 10px 20px 10px 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
select {
  padding: 2px 25px 2px 2px !important;
  background-color: white;
}
.buttonContainer {
  display: flex;
  justify-content: space-around;
}
.bookImage {
  width: 90px;
}
.bookContainer:hover .descClass {
  display: flex;
}
.descClass {
  display: none;
  position: relative;
  text-align: start;
  flex-direction: column;
  background-color: white;
  border-radius: 5px;
  border: 1px lightgray solid;
  z-index: 40;
  box-shadow: 1px 2px lightgray;
  padding: 10px;
  bottom: 90%;
  left: 90%;
  min-height: 50%;
}
.paginationBlock {
  width: 100%;
  display: flex;
  justify-content: center;
}

@media only screen and (max-width: 500px) {
  .displayBook {
    width: 90%;
  }
  .allBooks {
    justify-content: center;
  }
  .bookContainer{
      width: 100%;
  }
}
